.header {
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,75);
}


.header__left > img {
    height: 40px;

}

.header__middle {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header__left {
    display: flex;
    justify-content: space-evenly;
}

.header__input {
    display: flex;
    align-items: center;
    background: lightgrey;
    padding: 10px;
    margin-left: 10px;
    border-radius: 33px;
}

.header__input > input{
    border: none;
    background: transparent;
    outline-width: 0;
}

.header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header__option > .MuiSvgIcon-root {
    color: gray;
}

.header__option--active {
    border-bottom: 4px solid #1877F2;
}

.header__option--active > .MuiSvgIcon-root {
    color: #1877F2;
}

.header__option:hover > .MuiSvgIcon-root {
    color:#1877F2;
}

.header__option:hover {
    background-color: lightgray;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right > h4 {
margin-left: 10px;
}

