.post {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
}

.post__top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post__image > img {
    width: 100%;
}

.post__info > h3 {
    font-size: medium;
}

.post__info > p {
    font-size: small;
    color: gray;
}

.post__bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 20px;
}

.post__avatar {
    margin-right: 10px;
}

.post__options {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    border-top: 1px solid lightgray;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}

.post__option {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.post__option > p {
    margin-left: 10px;
}

.post__option:hover {
    color: #1877F2;
    border-radius: 10px;
    background: lightgray;
}